body {
    font: 24px "monospace", monospace;
    /* margin: 20px; */
    background: rgb(96,25,12);
    background: linear-gradient(180deg, rgba(96,25,12,1) 1%, rgba(43,7,7,1) 100%);
    background-size: cover;
}

.formsHeaders {
    text-align:center;
    color: rgb(238, 201, 153);
    font: 50px "monospace", monospace;
    font-weight: bold;
}

.headerSpan {
    margin-left: 5px;
    font-weight: 500;
}

.signForm {
    position: relative;
    /* margin-left: 660px; */
    width: 26%;
    margin: auto;
    background-color: rgb(238, 201, 153);
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: rgb(63, 16, 7);
    border-radius: 5px;
}

input {
    font: 22px "monospace", monospace;
    background-color:  rgb(245, 215, 177);
    margin-left: 5px;
    padding: 6px;
    border: none;
}

.goToRegSpan{
    font: 22px "monospace", monospace;
    color: rgb(63, 16, 7);
    margin-left: 20px;
}

.signButton {
    margin-left: 35%;
    background-color: rgb(63, 16, 7);
    color: rgb(238, 201, 153);  
    font: 20px "monospace", monospace;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 3px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.goToRegButton{
    background-color: rgb(63, 16, 7);
    color: rgb(238, 201, 153);
    font: 16px "monospace", monospace;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 3px 10px;
    margin-left: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}