body {
    font: 24px "monospace", monospace;
    background: rgb(96,25,12);
    background: linear-gradient(180deg, rgba(96,25,12,1) 1%, rgba(43,7,7,1) 100%);
    /* background: rgb(52, 11, 3); */
    background-size: cover;
    background-attachment: fixed;
}

.tasksList {
    background-image: url("tasks.png");
    border: 6px solid rgb(63, 16, 7);
    border-radius: 5px;
    background-size: cover;
    margin-right: 15rem;
    margin-left: 15rem;
    background-size: cover;
}

.taskInfo {
    width: 79%;
    margin-top: 0%;
}

.taskBtns {
    padding-left: 42px;
}

.singleTaskList {
    border: 4px solid rgb(63, 16, 7);
    border-radius: 5px;
    padding: 15px;
    margin-right: 100px;
    margin-bottom: 20px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

.modalContainer {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
}

.modalBody {
    margin: auto;
    background-color: rgb(238, 201, 153);
    color: rgb(63, 16, 7);
    border: 10px solid rgb(63, 16, 7);
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 30px;
    position: absolute;
    top: 10%;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.taskInput {
    border: none;
    width: 60%;
    margin-left: 190px;
    /* margin-right: auto; */
    border-radius: 5px;
    padding: 7px;
    font: 24px "monospace", monospace;
    background-color:  rgb(245, 215, 177);
}

.DateTimePicker {
    border: none;
    position: absolute;
    left: 275px;
    /* margin-left: 200px; */
    /* border: 40px; */
    /* margin-right: auto; */
    /* padding: 11px; */
    background-color:  rgb(245, 215, 177);
}

textarea {
    margin-top: 60px;
    width: 60%;
    margin-left: 190px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 400px;
    font: 24px "monospace", monospace;
    background-color:  rgb(245, 215, 177);
}

.modalLabel {
    position:absolute;
    left: 50px;
}

.descrLbl {
    position: absolute;
    top: 165px;
    left: 50px;
    color: rgb(63, 16, 7);
}

.closeBtn{
    position: absolute;
    top: 8px;
    right: 16px;
    background-color: rgb(63, 16, 7);
    border: none;
    color: rgb(238, 201, 153); 
    font-size: 20px;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.confirmBtn {
    background-color: rgb(63, 16, 7);
    color: rgb(238, 201, 153);  
    font: 20px "monospace", monospace;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding: 3px 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1 {
    padding-left: 300px;
    padding-right: 300px;
    text-align:center;
    /* font-style: italic; */
    font-weight: bold;
    color: rgb(63, 16, 7);
    /* background-color: rgb(238, 201, 153); */
    /* border: 3px solid rgb(63, 16, 7); */
    /* border-radius: 5px;
    margin-right: 15rem;
    margin-left: 15rem; */
}

.createButton {
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    background-color: rgb(63, 16, 7);
    color: rgb(238, 201, 153);
    font: 20px "monospace", monospace;
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding-top: 8px;
    position: relative;
    padding-bottom: 8px;
    margin-left: 110px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.specialBtns {
    position: relative;
    /* top: 10px; */
    left: 100px;
    background-color: rgb(63, 16, 7);
    color: rgb(238, 201, 153);  
    /* font: 15px "monospace", monospace; */
    font-weight: bold;
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 20px;
    margin-bottom: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.signOutBtn {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    color: rgb(238, 201, 153);
    background-color: rgb(63, 16, 7);
    font: 20px "monospace", monospace;
    border-radius: 5px;
    border: none;
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
}
